<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list id="menu-list1" class=" ">
                <label class="item item-input " id="menu-textarea3">
                    <span class="input-label">Text</span><textarea placeholder=""></textarea>
                </label>
                <label class="item item-input " id="menu-textarea2">
                    <span class="input-label">Text</span><textarea placeholder=""></textarea>
                </label>
                <label class="item item-select " id="menu-select1">
                    <span class="input-label">Select</span>
                    <select></select>
                </label>
            </ion-list>
            <button id="menu-button1" class=" button button-positive  button-block ">Calculate</button>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>