<ion-view title="Page" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="page-heading2" style="color:#000000;" class=" ">DOG++</h1>
        <p id="page-markdown7" style="color:#000000;" class=" ">Dog Age Calculator</p>
        <div class="spacer" style="width: 300px; height: 72px;"></div>
        <p id="page-markdown9" style="color:#000000;" class=" ">Result</p>
        <form id="page-form9" class="list ">
            <label class="item item-input " id="page-input6">
                <span class="input-label">6 Years Old</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <p id="page-markdown10" style="color:#000000;" class=" ">Ages as a Human. Your pet is Considered as a Puppy.</p>
        <div class="spacer" style="width: 300px; height: 21px;"></div>
        <form id="page-form11" class="list ">
            <label class="item item-input " id="page-input7">
                <span class="input-label">12.87 years</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <p id="page-markdown11" style="color:#000000;" class=" ">Breed life Expectancy.</p>
        <button id="page-button3" style="font-weight:500;" class=" button button-positive  button-block ">Ok!</button>
    </ion-content>
</ion-view>